<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header.ejs")-%>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_horizontal-navbar.html -->
      <%- include("partials/_horizontal-navbar.ejs") -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <div class="card" >
            <div class="card-header">
             
              <div class="header-right d-flex flex-wrap mt-md-2 mt-lg-0">
                <div class="d-flex align-items-center">
                  <a href="#">
                    <p class="m-0 pe-3">Dashboard</p>
                  </a>
                  <a class="ps-3 me-4" href="#">
                    <p class="m-0">ADE-00234</p>
                  </a>
                </div>
                <a href="payments" type="button" class="btn btn-primary mt-2 mt-sm-0 btn-icon-text">
                  <i class="mdi mdi-eye"></i> My payments</a>
              </div>
            </div>
                  <div class="card-body overflow-auto" style="min-height:80vh;max-height:80vh;">

                    <form action="add_lease" method="POST"  enctype="multipart/form-data" class="row">

                      <div class="form-group col-lg-6">
                        <label for="">Property Name</label>

                        <select name="property_id" class="form-control" >
                          <% if(props){%>
                            <% for(var i=0;i<props.length;i++){ %>
                               <option value="<%=props[i].property_id%>"><%=props[i].property_name%></option>                            
                            <%}%>
                          <% } %>
                        </select>

                      </div>

                      <div class="form-group col-lg-6">
                        <label for="">Amount to Pay:</label>
                        <input name="amount" type="text" class="form-control" placeholder="Property Name">
                      </div>

                      <div class="form-group col-lg-6">
                        <label for="">Start Date</label>
                        <input name="start_date" type="date" class="form-control" placeholder="Property Name">
                      </div>

                      <div class="form-group col-lg-6">
                        <label for="">End Date:</label>
                        <input name="end_date" type="date" class="form-control" placeholder="Property Name">
                      </div>

                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-lg-12">
                            <button class="btn btn-success">Submit Payment</button>
                          </div>
                        </div>
                      </div>

                    </form>



                  </div>
                </div>
              </div>
            </div>


          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include("partials/_footer.ejs") -%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <%- include("partials/_scripts.ejs") -%>
  </body>
</html>